{{template "default" .}}
{{define "content"}}
<!-- Content -->
<form action="/auth" method="post">
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="row  mt-3">
            <div class="col-4"><label class="">Login</label></div>
            <div class="col-8"><input type="text" name="login" class="form-control form-control-sm" /></div>
        </div>
        <div class="row  mt-3">
            <div class="col-4"><label class="">Password</label></div>
            <div class="col-8"><input type="password" name="password" class="form-control form-control-sm" /></div>
        </div>
        <div class="row  mt-3">
            <div class="col-12 text-center"><input type="submit" class="btn btn-sm btn-secondary ps-5 pe-5" value="ВОЙТИ"/></div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
</form>
<!-- End content -->
<script src="/static/js/login.js"></script>
<link rel="stylesheet" href="../static/css/bootstrap.css">
{{end}}