{{template "default" .}}
{{define "content"}}
<!-- Content -->

<div class="row mt-3">

    {{range $k ,$v := .Graphs}}

    <div class="col-lg  mt-3 text-center">
        <div class="row">
            <div class="col">{{$v.Desc}}</div>
        </div>
        <div class="row">
            <div class="col"><img id="c1921_1" class="shadow mrtg_images" /><img src="{{ $v.Url }}" /></div>
        </div>
    </div>
    {{end}}
</div>



<!-- End content -->
<script src="/static/js/mrtg.js"></script>
<link rel="stylesheet" href="../static/css/bootstrap.css">

{{end}}